@import "src/fonts.scss";
@import "src/variables.scss";


body {
    font-family: "medieval", sans-serif;
}

.content {
    background-color: black;
    //padding: 2px;
    // min-height: 100%;
    // height: 100%;
    height: 100vh;

}

mat-toolbar {
    justify-content: space-between;
    color: $crem;
    position: fixed;

    a {
        text-decoration: none;
        color: $orange;
        font-family: "medieval";
    }
}





