
<mat-toolbar color="secondary">
     <a routerLink="home">KaaF</a>
    <ng-container *ngIf="user$ | async as user; else loginButton">
      <button mat-button [matMenuTriggerFor]="userMenu">
        <img
          width="30"
          height="30"
          class="profile-image-toolbar"
          [src]="user.photoURL ?? './assets/images/logo/signInGoogle.png'"
        />
        {{ user.displayName }}
        <mat-icon>expand_more</mat-icon>
      </button>
    </ng-container>

    <ng-template #loginButton>
      <button mat-button routerLink="login">
        <mat-icon>login</mat-icon>
        Connexion
      </button>
    </ng-template>
  </mat-toolbar>
  
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item routerLink="/profile">
      <mat-icon>account_circle</mat-icon>
      Mon profil
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      Se déconnecter
    </button>
  </mat-menu>