@import "src/fonts.scss";
@import "src/variables.scss";


body {
    font-family: "medieval", sans-serif;
}

.content {
    background-color: black;
    padding: 17px;
}

mat-toolbar {
    justify-content: space-between;
}





