<div class="main">
    <h1>Qui suis je ?</h1>
    <div class="group">
        <div class="part left">
            <img [@fadepictureHeight]="animationTiming[0]" src="../../assets/images/persos/Arthur.jpg" alt="">
        </div>
        <div class="part middle">
            <div [@fadeTextSlide]="animationTiming[0]"class="e1"><p>Stibling</p></div>
            <div [@fadeTextSlide]="animationTiming[1]"class="e1"><p>Age</p></div>
            <div [@fadeTextSlide]="animationTiming[2]"class="e1"><p>Localisation</p></div>
            <div [@fadeTextSlide]="animationTiming[3]"class="e1"><p>Linkedin</p></div>
        </div>
        <div class="part right">
            <div [@fadepictureHeight]="animationTiming[2]"class="e1"><p>Jean-Didier</p></div>
            <div [@fadepictureHeight]="animationTiming[3]"class="e1"><p>37 ans</p></div>
            <div [@fadepictureHeight]="animationTiming[4]"class="e1"><p>Pau (64)</p></div>
            <div [@fadepictureHeight]="animationTiming[5]"class="e1"><p>Lorem, ipsit.</p></div>
        </div>
    </div>
</div>