 
 <a routerLink="/home"><img src="../../assets/images/logo/logo_kaa_z.png" id="nav" alt="logo_kaa"></a>
 
    <!-- <mat-toolbar color="primary">
  <span>Responsive Navigation</span> <span class="example-spacer"></span>
  <a href="#" mat-button>Menu Item 1</a> <a href="#" mat-button>Menu Item 2</a>
  <a href="#" mat-button>Menu Item 3</a> <a href="#" mat-button>Menu Item 4</a>
  <a href="#" mat-button>Menu Item 5</a> <a href="#" mat-button>Menu Item 6</a>
</mat-toolbar> -->

<!-- <mat-sidenav-container fxFlexFill class="example-container">
  <mat-sidenav fxLayout="column" mode="side" opened="false">
    <div fxLayout="column">
      <a href="#" mat-button>Menu Item 1</a>
      <a href="#" mat-button>Menu Item 2</a>
      <a href="#" mat-button>Menu Item 3</a>
      <a href="#" mat-button>Menu Item 4</a>
      <a href="#" mat-button>Menu Item 5</a>
      <a href="#" mat-button>Menu Item 6</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill> Main content</mat-sidenav-content>
</mat-sidenav-container> -->





