@import "src/fonts.scss";

img {
  width: 150px;
}

#nav {
  background-color: transparent;
  position: fixed;
  top: 0em;
  
  cursor: pointer;
}

#item {
  //font-family: "medieval", sans-serif;
}

  .spacer{
    flex: 1 1 auto;
  }


  