@import "src/fonts.scss";
@import "src/variables.scss";

main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    //justify-content: space-around;
    align-items: center;
    font-family: "medieval";

    background: url(../../assets/images/fond/blue-wall-texture-slate-background.jpg);

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .meme {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        p{
            color: $crem;
            font-family: "medieval";
        }
    }

    .nav {
        //border: solid blue 3px;  
        margin-top: 1em;
    }

    .window {
        //border: solid red 2px;
        //background-color: rgba(0, 38, 255, 0.592);
        height: 20em;
        width: 60%; 
        color: whitesmoke;

        .citation {

        }

        .who {
            display: flex;
            justify-content: space-around;
            align-items: center;

            :hover {
                //border: solid orange 2px;
                transition: .1s;
                -moz-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -o-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
            }

            #g {
                //order: 2;
                //border: solid 8px;
            }

            img {
                display: flex;
                width: 10em;
                height: 11em;
                border-radius: 45%;
                //order: 0;
                :hover {
                }
            }
        }
    }

    .feedback {
        display: flex;
        justify-content:flex-start;
        align-items: center;
        background-color: $blue;
        border: solid  4px $orange;
        width: 60%; 
        color: $dark-blue;
        margin-top: 3em;
        padding-left: 1em;
        p {
            margin: 0 1em 1em 0;
        }
        .success {
            color : pink;
        }
        td:first-child {
            //background: red;
            
        }
        td {
            padding: 0 2em 0 2em;
            text-align: center;
            border: solid 1px;
        }
    }

    .redTimer {
        color: red;
    }

    .whiteTimer {
        color: white;
    }

    .mat-progress-spinner circle, .mat-spinner circle {
        stroke: $orange;
        }

        
}