<main>
    <div class="header">
        <h1>Quizzzzzzzzzzzz Kaamelott</h1>
        <p>On aurai pu vous proposer un cul de chouette mais pas de dès dispo ici ...</p>
    </div>
    <div class="nav">
        <a (click)="restartGame()" class="btn-secondary">Lancer le quiz</a>
    </div>
    <div class="window" [ngStyle]="{'display': endStatus}">
        <!-- <img src="{{pictureAtRandomCitation}}" alt=""> -->
        <aside id="count">{{stepQuiz +1}}</aside><aside>/ 10</aside>
        <div class="citation">
            <h2>Qui à dit : </h2>
            <p>{{quiz[stepQuiz].citation}}</p>
        </div>
        <div class="who">
            <img (click)="game($event)" [ngStyle]="{'order': randomIndex[stepQuiz]}"id="g" src={{quiz[stepQuiz].picture.goodPicture}} alt="">
            <img (click)="game($event)" [ngStyle]="{'order': randomIndex[stepQuiz+1]}"id="n1" src={{quiz[stepQuiz].picture.noGoodPicture1}} alt="">
            <img (click)="game($event)" [ngStyle]="{'order': randomIndex[stepQuiz-1]}"id="n2" src={{quiz[stepQuiz].picture.noGoodPicture2}} alt="">
        </div>
    </div>
    <div>
        <h3>Quiz terminé !!!</h3>
    </div>
</main>