@font-face {
    font-family: 'kaa';
    src: url('./assets/fonts/folkard_.ttf') format('truetype');
}

@font-face {
    font-family: 'medieval';
    src: url('./assets/fonts/MedievalSharp-Regular.ttf') format('truetype');
}
