@import "src/fonts.scss";
@import "src/variables.scss";

.main {
    padding: 5em 5em 0 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: $crem;

    .form-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}