<!-- 
  <div class="main">
    <div class="form-container mat-elevation-z5">
      <h2 style="color:white;">Changement de mot de passe</h2>
      <p class="text-center">Veuillez entrer votre adresse mail</p>
      <div class="formGroup">
        <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
      </div>
      <div class="formGroup">
        <button mat-raised-button color="primary" (click)="authService.ForgotPassword(passwordResetEmail.value)">
          Reset
        </button>
      </div>
    </div>
  </div> -->



  <div class="main">
    <div class="form-container mat-elevation-z5">
      <h2 style="color:white;">Réintialisation du mot de passe</h2>
      <span>Merci de renseigner votre adresse mail</span>
      <form [formGroup]="loginForm" style="color:white;" (ngSubmit)="authService.ForgotPassword(passwordResetEmail.value)">
        <mat-form-field>
          <input matInput placeholder="Adresse mail" formControlName="email" #passwordResetEmail required>
          <mat-error *ngIf="email?.errors?.['required']">
            Merci d'entrer un format d'email correct
          </mat-error>
        </mat-form-field>
        <div class="center margin-top">
          <button mat-raised-button type="submit">
            Suivant
          </button>
        </div>
        <div class="form-footer">
          <span class="center margin-top">Nouveau sur le site?</span>
          <a class="sing-up-link" routerLink="/register-user">Inscrivez vous!</a>
        </div>
      </form>
    </div>
  </div>