@import "src/fonts.scss";
@import "src/variables.scss";

.main {
    padding: 5em 5em 0 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: $crem;
    text-align: center;
    background: url(../../../assets/images/fond/blueLine.jpg);

    button {
        border: 0;
        border-color: transparent;
        font-size: 16px;
        border-radius: 0.7em;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
        color: $crem;
        background-color: $orange;
          color: $dark-grey;
          transition: background-color, color 300ms ease-in-out;
          &:hover {
            //background-color: $blue;
            color: $blue;
          }
          &:active {
            background-color: $red;
            color: $dark-blue;
          }
        }

    .form-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}