@import "src/fonts.scss";
@import "src/variables.scss";

.home{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "kaa", sans-serif;
    background: url(../../assets/images/fond/blue-wall-texture-slate-background.jpg);
    color: $crem;
    h1{
        font-family: "kaa", sans-serif;
        font-size: 3.2em;
    }

    p{
        font-size: 2em;
        text-align: center;
        margin: 1em 3em 0 3em;
        line-height: 1.1em;
        width: 50%;
        font-family: sans-serif;
    }
    .nav{
        width: 85%;
        display: flex;
        justify-content:space-around;
        margin: 3em 0 0 0;
        color: $crem        ;

        .nav-item{
            @media screen and (max-width: 770px) {
                height: 6.5em;
                border: solid yellow;
                margin: 1em;
                width: 60%;
            }
            position: relative; 
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            font-size: 1rem;
            text-transform: uppercase;  
            cursor: pointer;
            height: 13em;
            width: 10em;

             h6{
                margin: 1em .7em .7em .7em;
                font-size: 1.2em;
                font-family: "kaa", sans-serif;
                text-align: center;
            }

            .img0 , .img1, .img2, .img3{
                background-size: cover;
                height: 0em;
                width: 100%;
                animation-name: out;
                animation-duration: 1s;
                animation-fill-mode:both;
                animation-direction: alternate;
            }
            .img0 {
                background:url("../../assets/images/persos/Yvain.jpg");
            }
            .img1 {
                background:url("../../assets/images/persos/Loth.jpg");
            }
            .img2 {
                background:url("../../assets/images/persos/Arthur.jpg");
            }
            .img3 {
                background:url("../../assets/images/persos/Perceval.jpg");
            }
        }

        .nav-item:hover{
            position: relative;
            box-shadow: 0 0 65px $crem inset, 0 0 20px #BEAE8C inset, 0 0 2px #816F47;

            @media screen and (min-width: 770px) {
             border-radius: 10%;   
            .img0, .img1, .img2, .img3 {
                animation-name: in;
                animation-duration: .45s;
                animation-fill-mode:both;
                animation-direction: alternate;
            }
            }

         }

    @keyframes in {
        0%    { opacity:0; height: 0em; border-radius: 0;}
        100%   { opacity:1; height: 13em; border-radius: 0 0 10% 10%;}
    }
    @keyframes out {
        0%    { opacity:1; height: 13em; border-radius: 0 0 10% 10%;}
        100%   { opacity:0; height: 0em; border-radius: 0;}
    }
    }
}