<div class="home">
    <div class="title">
        <h1>BIENVENUE SUR KAAMELOTT FAN SITE</h1>
        <p>Si tu cherche un endroit pour une bataille du fion ou faire des concours de pets c'est ici. Par contre, c'est sans alcool.</p>
    </div>
    <div class="nav">
        <div  class="nav-item" *ngFor="let item of homeNav; let i = index" (click)="functiontest(item)" (mouseover)="item.mouseOn = true" (mouseout)="item.mouseOn = false">
            <h6>{{item.name}}</h6>
            <div class="img{{ i }}"></div>
        </div>
    </div>
    <!-- <div class="contain" >
        <div class="contain-explain" *ngFor="let item of homeNav; let i = index" [@test]="item.mouseOn">
            <img *ngIf="item.mouseOn" src="{{ item.image }}" alt="{{ item.name }}">
            <p  *ngIf="item.mouseOn"> {{ item.description }} </p>
        </div>
    </div> -->
</div>