<div class="main">
    <div class="list">
        <div class="cards" (click)="onViewFiche(i)" *ngFor="let item of casting | paginate: { 
            itemsPerPage:maxItems,
            currentPage: page,
            totalItems:totalLength 
        }; let i = index;">
            <div class="cards-perso">
                <h6>{{item.personnage}}</h6>
            </div>
        </div>
    </div>
    <div class="nav">
        <pagination-controls class="pagination" (pageChange)="page = $event"></pagination-controls>
    </div>
</div>