

.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  //align-items: center;
  padding: 0;
  margin: 0;

  .nav {
    display: flex;
    flex-direction: column;
    //border: solid rgb(146, 157, 46);
    justify-content: center;
    align-items: center;

    span {
      //border: 9px groove #5D1751;
    }
    .nav-cards {
      display: flex;
      border: solid blue;
      width: 70%;
  
      .nav-card {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        //border: solid red;
        //border: 9px groove #5D1751;
        border: 3px solid rgba(0,0,111,0.47);
        border-radius: 13px 13px 13px 13px;
        width: 110px;
        height: 250px;


        #character-Avatar {
          border-radius: 50px;
          width: 108px;
          height: 145px;
        }
      }
    }

  }
}

 .perso {
    //background-image: url('../../assets/images/fond/blue-wall-texture-slate-background.jpg');
    //background-size: cover;
    height: 80px;
    width: 80px;
  }


  .group {
    display: flex;
    //width: 80%;
    flex-wrap: wrap;
    margin: 0 4em;
    border: solid red;
    
  }

