
<div class="main">
    <h1>Les meilleures citations du {{bookSelected}} </h1>
    <div class="nav"> 
      <owl-carousel-o [options]="customOptions" class="nav-cards">
        <ng-container *ngFor="let card of characterListFiltered; let i = index">
          <ng-template carouselSlide>
            <div class="nav-card" (click)="showCitationPerCharacter(i)">
              <h6 >
                {{ card }}
              </h6>
              <img id="character-Avatar" src="../../assets/images/persos/{{card}}.jpg" alt="card">
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
    <a mat-button routerLink="/" class="btn-secondary" style="top:-2em; width:20%;">Retour</a>
    <div class="group" *ngIf="!filterOn">
      <app-single-citation 
      *ngFor="let citation of citationPerBook"
        [citation]="citation.citation"
        [episode]="citation.infos.episode"
        [perso]="citation.infos.personnage"
      ></app-single-citation>
    </div>
    <div class="group" *ngIf="filterOn">
      <div class="filter" *ngIf="filterOn" (click)="filterOn = false">
        <a>Filtre : {{character}}  - Cliquez pour annuler</a>
      </div>
      <app-single-citation  
      *ngFor="let citation of citationPerBookFiltered"
        [citation]="citation.citation"
        [episode]="citation.infos.episode"
      ></app-single-citation>
    </div>
</div>



  