<!-- <div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>S'enregistrer'</h3>
        <div class="formGroup">
          <input
            type="email"
            class="formControl"
            placeholder="Adresse mail"
            #userEmail
            required
          />
        </div>
        <div class="formGroup">
          <input
            type="password"
            class="formControl"
            placeholder="Mot de passe"
            #userPwd
            required
          />
        </div>
        <div class="formGroup">
          <input
            type="button"
            class="btn btnPrimary"
            value="Continuer"
            (click)="authService.SignUp(userEmail.value, userPwd.value)"
          />
        </div>
        <div class="formGroup">
          <span class="or"><span class="orInner">Ou</span></span>
        </div>
      
        <div class="formGroup">
          <button
            type="button"
            class="btn googleBtn"
            (click)="authService.GoogleAuth()"
          >
            <i class="fab fa-google-plus-g"></i>
            Continuez avec Google+
          </button>
        </div>
      </div>
      <div class="redirectToLogin">
        <span
          >Vous avez déjà un compte ?
          <span class="redirect" routerLink="/sign-in">Se connecter</span></span
        >
      </div>
    </div>
  </div> -->