<div class="main">
    <h1>Les meilleures citation par livre</h1>
    <div class="list">
        <div class="cards"  (click)="onViewCitationByBook(item)" *ngFor="let item of citationByBook ;let i = index;">
            <div class="cards-perso" >
                <h6>{{item.title}}</h6>
                <p>Citations disponibles : <span>{{item.citations}}</span></p>
            </div>
        </div>
    </div>
    <a mat-button routerLink="/" class="btn-secondary" style="top:-3em;">Retour</a>
</div>