
@import "src/fonts.scss";

.main {
    display: flex;
    font-family: "medieval", sans-serif;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    //border: solid red;
    background-image: linear-gradient(
        179.72deg,
        rgba(33, 37, 41, 0.8) 25.29%,
        rgba(123, 126, 130, 0.32) 99.7%,
        rgba(126, 129, 132, 0.64) 99.71%
      ),
    url("../../assets/images/fond/bg_st.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;

    .list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 80%;
        height: 80%;
        //border: red 2px;
        //background-color: #4f83be;

        :hover {
            .cards-perso {
                //border: solid red;
                transition: .15s;
                -moz-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -o-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
            }
        }

        .cards {  
       
            .cards-perso {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 10em;
                height: 13em;
                -webkit-box-shadow: inset -1px 3px 8px 5px #4f83be, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0.56); 
                box-shadow: inset -1px 3px 8px 5px #496381, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0.56);
                margin: 1em;
                padding: 2em 0 0 0;
                background: #0c0c0c9d;
                h6 {
                    font-size: 1.6em;
                    text-align: center;
                    font-family: "medieval", sans-serif;
                    color: #FFFFFF;
                    //background: #0c0c0c9d;
                    text-shadow: #474747 3px 5px 2px;
                    margin: 0 1em; 
                }
                p {
                    //font-size: 1.3em;
                    text-align: center;
                    font-family: "medieval", sans-serif;
                    color: #e43d3d;
                    //background: #0c0c0c9d;
                    margin: 1em;

                    span {
                        //background-color: #1dcf26;
                        //border-radius: 20%;
                        //width: 12em;
                    }
                }
            }
        }
    }

}