<div class="main">
    <h1>Cication par livre</h1>
    <div class="list">
        <div class="cards" *ngFor="let item of citationByBook">
            <div class="cards-perso" >
                <h6>{{item.title}}</h6>
                <p>Citations disponibles : <span>{{item.citations}}</span></p>
            </div>
        </div>
        <!-- <div class="cards">
            <div class="cards-perso">
                <h6>Livre 2</h6>
                <p>Citations disponibles : <span>6</span></p>
            </div>
        </div>
        <div class="cards">
            <div class="cards-perso">
                <h6>Livre 3</h6>
                <p>Citations disponibles : <span>6</span></p>
            </div>
        </div>
        <div class="cards">
            <div class="cards-perso">
                <h6>Livre 4</h6>
                <p>Citations disponibles : <span>6</span></p>
            </div>
        </div>
        <div class="cards">
            <div class="cards-perso">
                <h6>Livre 5</h6>
                <p>Citations disponibles : <span>6</span></p>
            </div>
        </div>
        <div class="cards">
            <div class="cards-perso">
                <h6>Livre 6</h6>
                <p>Citations disponibles : <span>6</span></p>
            </div>
        </div> -->
    </div>
</div>