@import "src/fonts.scss";
@import "src/variables.scss";

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(
        179.72deg,
        rgba(33, 37, 41, 0.8) 25.29%,
        rgba(123, 126, 130, 0.32) 99.7%,
        rgba(126, 129, 132, 0.64) 99.71%
      ),
    url("../../assets/images/fond/bg_st.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100%;
    @media screen and (max-width: 850px) {
        //padding-top: 5em;
       }

    .list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 50%;
        padding-bottom: 2em;

        :hover {
            .cards-perso {
                transition: .15s;
                -moz-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -o-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
            }
        }

        .cards {  
       
            .cards-perso {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 13em;
                height: 13em; // voir pour adapter en fonction de la largeur de la page
                -webkit-box-shadow: inset -1px 3px 8px 5px #4f83be, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0.56); 
                box-shadow: inset -1px 3px 8px 5px #496381, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0.56);
                margin: .8em;
                //padding: 2em 0 0 0;
                background: $dark-grey;
                @media screen and (max-width: 850px) {
                    width: 10em;
                    height: 10em;
                   }
                h6 {
                    font-size: 3em;
                    text-align: center;
                    font-family: "kaa", sans-serif;
                    color: $crem;
                    text-shadow: #474747 3px 5px 2px;
                    margin-top: 1em; 
                    @media screen and (max-width: 850px) {
                        font-size: 1.5em;
                       }
                }
                p {
                    text-align: center;
                    font-family: "medieval", sans-serif;
                    color: $red;
                    margin: .8em;
                }
            }
        }
    }

}