main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: beige;
    height: 100vh;

    .errorMessage {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 25em;
        width: 30em;

        .part {
            display: flex;
            align-items: center;
            justify-content: center;
            border: solid;

        }
    }
}