@import "src/variables.scss";

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        179.72deg,
        rgba(33, 37, 41, 0.8) 25.29%,
        rgba(123, 126, 130, 0.32) 99.7%,
        rgba(126, 129, 132, 0.64) 99.71%
      ),
    url("../../assets/images/fond/bg_st.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    min-height: 100%;
    @media screen and (max-width: 700px) {
        padding-top: 9em;
       }

    blockquote {
        color: $crem;
        font-family: "medieval", sans-serif;
        width: 50%;
        margin: 0 5em 0 5em;
        font-size: 1.4em ;
        text-align: center;
        @media screen and (max-width: 700px) {
            font-size: 1em;
            width: 95%;
           }
    }

    cite {
        font-style: italic;
        color: $crem;
    }
    .focus {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        height: 20em;
        //width: 70%;
        //flex-wrap: wrap;
        //top: 2em;

        @media screen and (max-width: 800px) {
            //flex-direction: column; 
           }


        .face {
            -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(63,53,183,0); 
            box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(63,53,183,0);
            position: relative;
            border-radius: 25% 10%;
            //animation
            animation-name: goLeft;
            animation-duration: 2s;
            animation-fill-mode:both;
            animation-direction: alternate;

            @media screen and (max-width: 800px) {
                position: static;
                width: 30%;
                //margin: 2em 0 3em 0;
               }
        }
        
        $Leftvalue: -7em;

        @keyframes goLeft {
            0%    {left: 3em;}
            100%  {left: $Leftvalue;}
        }

        .slides {
            outline: 7px double $dark-grey;
            outline-offset: 0px;
            padding: 2em;
            background:rgba(170, 167, 167, 0.486);
            @media screen and (max-width: 800px) {
                padding: 7px;
                // height: 9em;
                // width: 100%;
                margin: 2em;
               }
            .slide {
                margin: 0 0 2em 0;
                color: $crem;
                h5 {
                    font-size: 2em;
                    font-family: "medieval", sans-serif;
                    color: $dark-blue;
                    @media screen and (max-width: 800px) {
                        font-size: 1em;
                       }
                }
                span {
                    margin: 0 0 0 1em;
                    font-family: "medieval", sans-serif;
                    color: $orange;
                    //font-size: .8em;
                }
                a {
                    text-decoration: none;
                    text-decoration-line: underline;
                    font-size: .8em;
                    color: $dark-blue;
                }

            }
            .num3 {
                :hover{
                    color: $red;
                }
            }         
        }


        #back {
            position: absolute;
            color: $orange;
            border: solid;
            background: $dark-blue;
            width: 8em;
            top: 24em;
        }

    }
}