<main>
    <h1 [@fadeText]="animationTiming[0]" id="title">{{persoSelected}}</h1>
    <div class="focus">
        <img class="up" src="{{image}}" alt="{{persoSelected}}">
        <div class="slides">
            <div [@fadeTextSlide]="animationTiming[0]" class="slide num1"><h5>Acteur :<span>blablabla</span></h5></div>
            <div [@fadeTextSlide]="animationTiming[1]" class="slide num2"><h5>Bibliographie :<span><a href="{{linkWiki}}" target="_blank">Lien</a></span></h5></div>
            <div [@fadeTextSlide]="animationTiming[2]" class="slide num3"><h5>Présence dans les livres :<span>blablabla</span></h5></div>
            <div [@fadeTextSlide]="animationTiming[3]" class="slide num4"><h5>Répliques disponibles sur le site :<span>blablabla</span></h5></div>
        </div>
        <a [@fadeTextSlide]="animationTiming[3]" mat-button routerLink="/perso" id="back">Retour</a>

    </div>
</main>