<main>
    <h1 [@fadeText]="animationTiming[0]">{{persoSelected}}</h1>
    <blockquote *ngIf="randomReplique" [@fadeText]="animationTiming[1]">"{{randomReplique}}"</blockquote>
    <cite *ngIf="randomReplique" [@fadeText]="animationTiming[1]">Saison: {{saison}}</cite>
    <cite *ngIf="randomReplique" [@fadeText]="animationTiming[1]">Episode: {{episode}} </cite>
    <div class="focus">
        <img class="face" src="{{image}}" alt="{{persoSelected}}">
        <div class="slides">
            <div [@fadeTextSlide]="animationTiming[0]" class="slide num1"><h5>Acteur :<span>{{actorSelected}}</span></h5></div>
            <div [@fadeTextSlide]="animationTiming[1]" class="slide num2"><h5>Répliques disponibles :<span>{{totalRepliqueByActor}}</span></h5></div>
            <div [@fadeTextSlide]="animationTiming[2]" class="slide num3"><h5><span><a href="{{linkWiki}}" target="_blank">Voir sa biographie</a></span></h5></div>
            
        </div>
    </div>
    <a mat-button routerLink="/perso" class="btn-secondary">Retour</a>
</main>