main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        179.72deg,
        rgba(33, 37, 41, 0.8) 25.29%,
        rgba(123, 126, 130, 0.32) 99.7%,
        rgba(126, 129, 132, 0.64) 99.71%
      ),
    url("../../assets/images/fond/bg_st.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    height: 100vh;

    #title {
        font-size: 4em;
        color: white;
        font-family: "medieval", sans-serif;
    }
    .focus {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        //background: cornflowerblue;
        height: 50%;
        width: 60%;
        //border: solid;

        .up {
            //border: solid 2px grey;
            -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(63,53,183,0); 
            box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(63,53,183,0);
            position: relative;
            border-radius: 25% 10%;
            //left: -8em;
            //anim
            animation-name: goLeft;
            animation-duration: 3s;
            animation-fill-mode:both;
            animation-direction: alternate;
        }

        @keyframes goLeft {
            0%    {left: 3em;}
            100%  {left: -8em;}
        }

        .slide {
            margin: 0 0 2em 0;
            h5 {
                color: white;
                font-size: 2em;
            }
            span {
                color: red;
            }

        }

        #back {
            position: absolute;
            color: rgb(221, 220, 220);
            border: solid;
            background: rgb(24, 23, 23);
            width: 8em;
            top: 24em;
        }
    }
}