
.main {
    padding: 5em 5em 0 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .sign-up-link {
        font-size: 1.2rem;
        margin-left: 8px;
    }
    .form-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}