
  <div class="main">
    <div class="form-container mat-elevation-z5">
      <h2 style="color:white;">Connexion</h2>
      <form [formGroup]="loginForm" style="color:white;" (ngSubmit)="submit()">
        <mat-form-field>
          <input matInput placeholder="Adresse mail" formControlName="email">
          <mat-error *ngIf="email?.errors?.['required']">
            Merci d'entrer un format d'email correct
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Mot de passe" formControlName="password" type="password">
          <mat-error *ngIf="password?.errors?.['required']">
            Mot de passe nécessaire
          </mat-error>
        </mat-form-field>
        <div class="center margin-top">
          <button mat-raised-button type="submit">
            Suivant
          </button>
        </div>
        <div class="formGroup">
          <img src="./assets/images/logo/signInGoogleBlue.png" (click)="authService.GoogleAuth()">
        </div>
        <div class="form-footer">
          <span class="center margin-top"><a class="sing-up-link" routerLink="/forgot-password">Mot de passe oublié</a></span>
          <span class="center margin-top">Pas de compte?</span>
          <a class="sing-up-link" routerLink="/register-user">Inscrivez vous!</a>
        </div>
      </form>
    </div>
  </div>